@using Grid.NET.Infrastructure.Interfaces.Columns
@model Grid.NET.Infrastructure.Interfaces.IGrid

@if (Model == null) { return; }

<div>

</div>

<div class="list-table" id="@Model.Name" >
    @* Draw grid header *@
   
    <div class="table-header">
        <ul class="header">
           
                @RenderGridHeader()
           
        </ul>
    </div>
    <div class="table-results table-overflow">
        @RenderGridBody()
    </div>

</div>

@RenderGridFooter()



@helper RenderGridHeader()
{
    foreach (IColumn column in @Model.Columns)
    {
        <li>
            @column.Title
        </li>
    }
}

@helper RenderGridBody()
{
    if (!@Model.Data.Any())
    {
        <ul class="results">
            <li>
                @Model.EmptyGridText
            </li>
        </ul>
    }
    else
    {
        foreach (var customer in @Model.Data)
        {
            <ul class="results">
                @foreach (var propertyInfo in customer.GetType().GetProperties())
                {
                    <li>
                        @propertyInfo.GetValue(customer, null)
                    </li>
                }
            </ul>
        }
    }
}

@helper RenderGridFooter()
{
    <div class="pagination-section">
       <ul>
           <li class="easing pagination current">1</li>
           <li class="easing pagination">2</li>
           <li class="easing pagination">3</li>
           <li class="easing pagination">4</li>
           <li class="easing pagination">5</li>
       </ul>
    </div>
}